<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="container my-5">
  <div class="row">
    <!-- Login Form -->
    <div class="col-md-6">
      <h2 class="login-header">Login</h2>

      <% if (message) { %>
        <p class="alert alert-info"><%= message %></p>
      <% } %>

      <form action="/login" method="post">
        <div class="mb-3">
          <label for="userName" class="form-label">Username</label>
          <input type="text" class="form-control" id="userName" name="userName" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

    <!-- Signup Form -->
    <div class="col-md-6">
      <h2 class="signup-header">Signup</h2>
      <form action="/signup" method="post">
        <div class="mb-3">
          <label for="userName" class="form-label">Username</label>
          <input type="text" class="form-control" id="userName" name="userName" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required />
        </div>
        <div class="mb-3">
          <select name="userType" class="form-select">
            <option disabled>Select an option</option>
            <option>Driver</option>
            <option>Examiner</option>
            <option>Admin</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
    </div>
  </div>
</div>
